.cabecalho{
    background-color: #383d58;
    color: white;
    display: flex;
    justify-content: space-around;
}

.Hunter{
    width: 300px;
    position: relative;
    top: 50px;
    left: 150px;
}

.cabeçalho-lista-item {
    display: inline-block;

}